In [14]:
import pandas as pd
import re
import json

In [ ]:
with open('jobs_data2.json', 'r') as f:
    data = json.load(f)
df = pd.json_normalize(data)

df_exploded = df.explode('skills').reset_index(drop=True)

print(df_exploded.info())
display(df_exploded.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85052 entries, 0 to 85051
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   post_id       85052 non-null  object
 1   company_name  85052 non-null  object
 2   job_name      85052 non-null  object
 3   skills        85041 non-null  object
 4   date_scraped  85052 non-null  object
 5   date_posted   85052 non-null  object
dtypes: object(6)
memory usage: 3.9+ MB
None

,post_id,company_name,job_name,skills,date_scraped,date_posted
0,10111030,Trans Union LLC,"Directors, Solution Pricing",Privacy,2026-02-26,1 day ago
1,10111030,Trans Union LLC,"Directors, Solution Pricing",Management,2026-02-26,1 day ago
2,10111030,Trans Union LLC,"Directors, Solution Pricing",Partnership,2026-02-26,1 day ago
3,10111030,Trans Union LLC,"Directors, Solution Pricing",Pricing Strategy,2026-02-26,1 day ago
4,10111030,Trans Union LLC,"Directors, Solution Pricing",Sales,2026-02-26,1 day ago

In [ ]:
df_exploded = df_exploded.loc[df_exploded.duplicated(keep='first')]

,post_id,company_name,job_name,skills,date_scraped,date_posted
369,10111030,Trans Union LLC,"Director, Data Science Product Development - I...",Privacy,2026-02-26,5 days ago
370,10111030,Trans Union LLC,"Director, Data Science Product Development - I...",Innovation,2026-02-26,5 days ago
371,10111030,Trans Union LLC,"Director, Data Science Product Development - I...",Agile,2026-02-26,5 days ago
372,10111030,Trans Union LLC,"Director, Data Science Product Development - I...",Art,2026-02-26,5 days ago
373,10111030,Trans Union LLC,"Director, Data Science Product Development - I...",Team Management,2026-02-26,5 days ago
...,...,...,...,...,...,...
81926,boebot,Boeing Company,Structural & Payload Design Engineer 3,Emerging Technologies,2026-02-26,60+ days ago
81927,boebot,Boeing Company,Structural & Payload Design Engineer 3,CATIA,2026-02-26,60+ days ago
81929,boebot,Boeing Company,Structural & Payload Design Engineer 3,Aerospace,2026-02-26,60+ days ago
81930,boebot,Boeing Company,Structural & Payload Design Engineer 3,Mechanical Engineering,2026-02-26,60+ days ago
81935,boebot,Boeing Company,Structural & Payload Design Engineer 3,Microsoft Office,2026-02-26,60+ days ago

In [41]:
import pandas as pd

df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['pack', 'cup', 'cup', 'cup', 'pack']
})

# ตรวจสอบว่าแถวไหนซ้ำบ้าง
print(df.duplicated())

0    False
1    False
2    False
3     True
4    False
dtype: bool